/*

Project: Anvil
Credits:
Copyright:

*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a:focus {
  outline: thin dotted; }

a:active,
a:hover {
  outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

p,
pre {
  margin: 1em 0; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }

q:before,
q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

dl,
menu,
ol,
ul {
  margin: 1em 0; }

dd {
  margin: 0 0 0 40px; }

menu,
ol,
ul {
  padding: 0 0 0 40px; }

nav ul,
nav ol {
  list-style: none;
  list-style-image: none; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

form {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px; }

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button,
input {
  line-height: normal; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible; }

button[disabled],
input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html,
button,
input,
select,
textarea {
  color: #222; }

body {
  font-size: 1em;
  line-height: 1.4; }

::-moz-selection {
  background: #0074c2;
  color: white;
  text-shadow: none; }

::selection {
  background: #0074c2;
  color: white;
  text-shadow: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
  font-weight: bold; }

a {
  color: #0d72b2;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -ms-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
  text-decoration: none; }
  a:visited {
    color: #0d72b2; }
  a:hover {
    color: #0f92e5; }
  a:focus {
    outline: thin dotted; }

address {
  margin: 0 0 1.5em; }

abbr[title],
acronym {
  cursor: help; }

ins {
  background: #eee;
  text-decoration: none; }

img {
  vertical-align: middle; }

dt {
  font-weight: bold; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

.nav-horizontal {
  text-align: center; }
  .nav-horizontal a {
    display: block;
    padding: 0.4375em 0.8125em;
    color: #222; }
    .nav-horizontal a:visited {
      color: #222; }
    .nav-horizontal a:hover {
      color: #d22;
      text-decoration: none; }
  .nav-horizontal li {
    position: relative;
    text-align: left;
    z-index: 1; }
    .nav-horizontal li:hover {
      background: #fbfdfd; }
    .nav-horizontal li > ul {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      width: 12.5em;
      margin: 0;
      padding: 0;
      background: #fbfdfd; }
      .nav-horizontal li > ul a {
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out; }
        .nav-horizontal li > ul a:hover {
          padding-left: 1em; }
    .nav-horizontal li li > ul {
      left: 100%;
      top: 0; }
    .nav-horizontal li:hover > ul {
      display: block; }
  .nav-horizontal > ul {
    display: inline-block;
    margin: 0;
    padding: 0; }
    .nav-horizontal > ul > li {
      float: left; }

.button,
.button:visited {
  border: 1px solid #0a3c59;
  padding: 0.6785714286em 1.3571428571em;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  font-size: 0.875em;
  color: #dcedf5;
  text-shadow: 0 -1px 0 #2d6982;
  background-color: #277ca3;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#54b2de), to(#277ca3));
  background-image: -webkit-linear-gradient(top, #54b2de, #277ca3);
  background-image: -moz-linear-gradient(top, #54b2de, #277ca3);
  background-image: -o-linear-gradient(top, #54b2de, #277ca3);
  background-image: -ms-linear-gradient(top, #54b2de, #277ca3);
  background-image: linear-gradient(top, #54b2de, #277ca3);
  -webkit-box-shadow: rgba(255, 255, 255, 0.4) 0 0px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
  -moz-box-shadow: rgba(255, 255, 255, 0.4) 0 0px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
  box-shadow: rgba(255, 255, 255, 0.4) 0 0px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0; }

.button:hover {
  border: 1px solid #0a3c59;
  color: #fff;
  text-shadow: #1e4158 0 -1px 0;
  background-color: #3089b0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#65c4f0), to(#3089b0));
  background-image: -webkit-linear-gradient(top, #65c4f0, #3089b0);
  background-image: -moz-linear-gradient(top, #65c4f0, #3089b0);
  background-image: -o-linear-gradient(top, #65c4f0, #3089b0);
  background-image: -ms-linear-gradient(top, #65c4f0, #3089b0);
  background-image: linear-gradient(top, #65c4f0, #3089b0); }

.button:active {
  border: 1px solid #0a3c59;
  color: #fff;
  text-shadow: #1e4158 0 -1px 0;
  background-color: #65c4f0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3089b0), to(#65c4f0));
  background-image: -webkit-linear-gradient(top, #3089b0, #65c4f0);
  background-image: -moz-linear-gradient(top, #3089b0, #65c4f0);
  background-image: -o-linear-gradient(top, #3089b0, #65c4f0);
  background-image: -ms-linear-gradient(top, #3089b0, #65c4f0);
  background-image: linear-gradient(top, #3089b0, #65c4f0);
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 0px 0, inset rgba(0, 0, 0, 0.4) 0 1px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 0px 0, inset rgba(0, 0, 0, 0.4) 0 1px 0;
  box-shadow: rgba(0, 0, 0, 0.4) 0 0px 0, inset rgba(0, 0, 0, 0.4) 0 1px 0; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 1px solid #0a3c59;
  padding: 0.6785714286em 1.3571428571em;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  font-size: 0.875em;
  color: #dcedf5;
  text-shadow: 0 -1px 0 #2d6982;
  background-color: #277ca3;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#54b2de), to(#277ca3));
  background-image: -webkit-linear-gradient(top, #54b2de, #277ca3);
  background-image: -moz-linear-gradient(top, #54b2de, #277ca3);
  background-image: -o-linear-gradient(top, #54b2de, #277ca3);
  background-image: -ms-linear-gradient(top, #54b2de, #277ca3);
  background-image: linear-gradient(top, #54b2de, #277ca3);
  -webkit-box-shadow: rgba(255, 255, 255, 0.4) 0 0px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
  -moz-box-shadow: rgba(255, 255, 255, 0.4) 0 0px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
  box-shadow: rgba(255, 255, 255, 0.4) 0 0px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0; }

button:hover,
html input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  border: 1px solid #0a3c59;
  color: #fff;
  text-shadow: #1e4158 0 -1px 0;
  background-color: #3089b0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#65c4f0), to(#3089b0));
  background-image: -webkit-linear-gradient(top, #65c4f0, #3089b0);
  background-image: -moz-linear-gradient(top, #65c4f0, #3089b0);
  background-image: -o-linear-gradient(top, #65c4f0, #3089b0);
  background-image: -ms-linear-gradient(top, #65c4f0, #3089b0);
  background-image: linear-gradient(top, #65c4f0, #3089b0); }

button:active,
html input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
  border: 1px solid #0a3c59;
  color: #fff;
  text-shadow: #1e4158 0 -1px 0;
  background-color: #65c4f0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3089b0), to(#65c4f0));
  background-image: -webkit-linear-gradient(top, #3089b0, #65c4f0);
  background-image: -moz-linear-gradient(top, #3089b0, #65c4f0);
  background-image: -o-linear-gradient(top, #3089b0, #65c4f0);
  background-image: -ms-linear-gradient(top, #3089b0, #65c4f0);
  background-image: linear-gradient(top, #3089b0, #65c4f0);
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 0px 0, inset rgba(0, 0, 0, 0.4) 0 1px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 0px 0, inset rgba(0, 0, 0, 0.4) 0 1px 0;
  box-shadow: rgba(0, 0, 0, 0.4) 0 0px 0, inset rgba(0, 0, 0, 0.4) 0 1px 0; }

button[disabled],
input[disabled],
input[disabled]:hover {
  border: 1px solid #999;
  padding: 0.6785714286em 1.3571428571em;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  font-size: 0.875em;
  color: #aaa;
  text-shadow: none;
  background-color: #cccccc;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#cccccc));
  background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
  background-image: linear-gradient(top, #eeeeee, #cccccc);
  -webkit-box-shadow: rgba(255, 255, 255, 0.4) 0 0px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
  -moz-box-shadow: rgba(255, 255, 255, 0.4) 0 0px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
  box-shadow: rgba(255, 255, 255, 0.4) 0 0px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0; }

form {
  max-width: 600px;
  padding: 20px;
  border: 1px solid #95a1ae;
  -webkit-border-radius: 9px;
  border-radius: 9px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background-color: #d4e4eb;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e4eff5), to(#d4e4eb));
  background-image: -webkit-linear-gradient(top, #e4eff5, #d4e4eb);
  background-image: -moz-linear-gradient(top, #e4eff5, #d4e4eb);
  background-image: -o-linear-gradient(top, #e4eff5, #d4e4eb);
  background-image: -ms-linear-gradient(top, #e4eff5, #d4e4eb);
  background-image: linear-gradient(top, #e4eff5, #d4e4eb);
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px, inset rgba(255, 255, 255, 0.4) 0 0px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px, inset rgba(255, 255, 255, 0.4) 0 0px 0;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px, inset rgba(255, 255, 255, 0.4) 0 0px 0; }
  form ul {
    margin: 0;
    padding: 0;
    list-style: none; }

input[type="text"],
textarea {
  margin-bottom: 20px;
  padding: 8px;
  border: 1px solid #a6b7c0;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  color: #a6b7c0;
  background: #f3f6f8;
  -webkit-box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(0, 0, 0, 0.7) 0 0px 0px;
  -moz-box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(0, 0, 0, 0.7) 0 0px 0px;
  box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(0, 0, 0, 0.7) 0 0px 0px; }

input.input-wide {
  width: 100%; }

input[type="text"]:focus,
textarea:focus {
  background: #fff;
  color: #5c6671;
  outline: none; }

textarea {
  width: 100%; }

.row {
  margin-left: -20px;
  *zoom: 1; }

.row:before,
.row:after {
  display: table;
  line-height: 0;
  content: ""; }

.row:after {
  clear: both; }

[class*="span"] {
  float: left;
  min-height: 1px;
  margin-left: 20px; }

.span1 {
  width: 60px; }

.span2 {
  width: 140px; }

.span3 {
  width: 220px; }

.span4 {
  width: 300px; }

.span5 {
  width: 380px; }

.span6 {
  width: 460px; }

.span7 {
  width: 540px; }

.span8 {
  width: 620px; }

.span9 {
  width: 700px; }

.span10 {
  width: 780px; }

.span11 {
  width: 860px; }

.span12 {
  width: 940px; }

.offset1 {
  margin-left: 100px; }

.offset2 {
  margin-left: 180px; }

.offset3 {
  margin-left: 260px; }

.offset4 {
  margin-left: 340px; }

.offset5 {
  margin-left: 420px; }

.offset6 {
  margin-left: 500px; }

.offset7 {
  margin-left: 580px; }

.offset8 {
  margin-left: 660px; }

.offset9 {
  margin-left: 740px; }

.offset10 {
  margin-left: 820px; }

.offset11 {
  margin-left: 900px; }

.offset12 {
  margin-left: 980px; }

@media (min-width: 1200px) {
  [class*="span"] {
    margin-left: 30px; }

  .span1 {
    width: 70px; }

  .span2 {
    width: 170px; }

  .span3 {
    width: 270px; }

  .span4 {
    width: 370px; }

  .span5 {
    width: 470px; }

  .span6 {
    width: 570px; }

  .span7 {
    width: 670px; }

  .span8 {
    width: 770px; }

  .span9 {
    width: 870px; }

  .span10 {
    width: 970px; }

  .span11 {
    width: 1070px; }

  .span12 {
    width: 1170px; }

  .offset1 {
    margin-left: 130px; }

  .offset2 {
    margin-left: 230px; }

  .offset3 {
    margin-left: 330px; }

  .offset4 {
    margin-left: 430px; }

  .offset5 {
    margin-left: 530px; }

  .offset6 {
    margin-left: 630px; }

  .offset7 {
    margin-left: 730px; }

  .offset8 {
    margin-left: 830px; }

  .offset9 {
    margin-left: 930px; }

  .offset10 {
    margin-left: 1030px; }

  .offset11 {
    margin-left: 1130px; }

  .offset12 {
    margin-left: 1230px; }

  .row {
    margin-left: -30px; } }
@media (max-width: 767px) {
  [class*="span"] {
    display: block;
    float: none;
    width: 100%;
    margin-left: 0; }

  .row {
    margin-left: 0; } }
html,
.hamburger {
  width: 100%; }

.condiments {
  width: 100%;
  padding: 2.5em 1.875em 1.875em;
  float: left;
  -webkit-transition: margin 0.3s ease-in-out;
  -moz-transition: margin 0.3s ease-in-out;
  -ms-transition: margin 0.3s ease-in-out;
  -o-transition: margin 0.3s ease-in-out;
  transition: margin 0.3s ease-in-out; }

.hamburger {
  -webkit-animation: bugfix infinite 1s; }

@-webkit-keyframes bugfix {
  from {
    padding: 0; }

  to {
    padding: 0; } }

.hamburger-checkbox {
  position: absolute;
  top: -9999px;
  left: -9999px; }

.hamburger-label {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  margin: .6666666667em 0 0 .6666666667em;
  padding: .4em;
  width: 2.8em;
  height: 2.3333333333em;
  background: #f5f7f7;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  font-size: .9375em;
  font-family: Arial, sans-serif;
  line-height: .7333333333em;
  color: #777;
  cursor: pointer;
  user-select: none;
  -webkit-transition: color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out;
  -ms-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out; }

.hamburger-nav {
  position: relative;
  -webkit-transition: left 0.3s ease-in-out;
  -moz-transition: left 0.3s ease-in-out;
  -ms-transition: left 0.3s ease-in-out;
  -o-transition: left 0.3s ease-in-out;
  transition: left 0.3s ease-in-out; }
  .hamburger-nav a {
    display: block;
    padding: 0.4375em 0.8125em;
    -webkit-transition: color 0.3s ease-in-out;
    -moz-transition: color 0.3s ease-in-out;
    -ms-transition: color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out; }

@media screen and (max-width: 44em) {
  html,
  .hamburger {
    margin: 0;
    overflow-x: hidden; }

  .hamburger-nav {
    position: fixed;
    overflow-y: scroll;
    top: 3.4375em;
    left: -20em;
    bottom: 0;
    width: 20em;
    opacity: 0;
    background: #151618; }
    .hamburger-nav ul {
      width: 100%;
      margin: 0;
      padding: 0; }
    .hamburger-nav li > ul {
      position: static;
      display: block;
      width: 20em; }
    .hamburger-nav ul > li {
      width: 100%; }

  .hamburger-label {
    display: block;
    z-index: 1;
    -webkit-transition: left 0.3s ease-in-out, box-shadow 0s 0s ease-in-out;
    -moz-transition: left 0.3s ease-in-out, box-shadow 0s 0s ease-in-out;
    -ms-transition: left 0.3s ease-in-out, box-shadow 0s 0s ease-in-out;
    -o-transition: left 0.3s ease-in-out, box-shadow 0s 0s ease-in-out;
    transition: left 0.3s ease-in-out, box-shadow 0s 0s ease-in-out; }

  .hamburger-label:after {
    position: absolute;
    top: .4814814815em;
    right: .4814814815em;
    content: "\2261";
    font-size: 1.8em; }

  .hamburger-label:hover {
    color: #d22; }

  .hamburger-checkbox:checked ~ .hamburger-label {
    color: #a0a2a2;
    left: 17em;
    background: rgba(255, 255, 255, 0.05);
    -webkit-transition: left 0.3s ease-in-out, box-shadow 0.2s 0.3s ease-in-out;
    -moz-transition: left 0.3s ease-in-out, box-shadow 0.2s 0.3s ease-in-out;
    -ms-transition: left 0.3s ease-in-out, box-shadow 0.2s 0.3s ease-in-out;
    -o-transition: left 0.3s ease-in-out, box-shadow 0.2s 0.3s ease-in-out;
    transition: left 0.3s ease-in-out, box-shadow 0.2s 0.3s ease-in-out;
    -webkit-box-shadow: inset 0 2px 0 -1px rgba(255, 255, 255, 0.08), 0 0 0 1px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: inset 0 2px 0 -1px rgba(255, 255, 255, 0.08), 0 0 0 1px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 2px 0 -1px rgba(255, 255, 255, 0.08), 0 0 0 1px rgba(0, 0, 0, 0.4); }

  .hamburger-checkbox:checked ~ nav[role="off-canvas"] {
    left: 0;
    opacity: 1;
    -webkit-box-shadow: -30em 0 0 30em #151618, inset 0 10px 10px -10px black;
    -moz-box-shadow: -30em 0 0 30em #151618, inset 0 10px 10px -10px black;
    box-shadow: -30em 0 0 30em #151618, inset 0 10px 10px -10px black; }
    .hamburger-checkbox:checked ~ nav[role="off-canvas"] li:hover {
      background: transparent; }
    .hamburger-checkbox:checked ~ nav[role="off-canvas"] li > ul {
      background: transparent; }
    .hamburger-checkbox:checked ~ nav[role="off-canvas"] > ul {
      display: block; }
      .hamburger-checkbox:checked ~ nav[role="off-canvas"] > ul > li:first-child a {
        -webkit-box-shadow: 0 -2px 0 -1px black, inset 0 -2px 0 -1px black, inset 0 2px 0 -1px rgba(255, 255, 255, 0.05);
        -moz-box-shadow: 0 -2px 0 -1px black, inset 0 -2px 0 -1px black, inset 0 2px 0 -1px rgba(255, 255, 255, 0.05);
        box-shadow: 0 -2px 0 -1px black, inset 0 -2px 0 -1px black, inset 0 2px 0 -1px rgba(255, 255, 255, 0.05); }
    .hamburger-checkbox:checked ~ nav[role="off-canvas"] ul > li a {
      padding: .75em 3.625em .75em 1.5em;
      color: #a0a2a2;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
      -webkit-box-shadow: inset 0 -2px 0 -1px black, inset 0 2px 0 -1px rgba(255, 255, 255, 0.05);
      -moz-box-shadow: inset 0 -2px 0 -1px black, inset 0 2px 0 -1px rgba(255, 255, 255, 0.05);
      box-shadow: inset 0 -2px 0 -1px black, inset 0 2px 0 -1px rgba(255, 255, 255, 0.05);
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
      .hamburger-checkbox:checked ~ nav[role="off-canvas"] ul > li a:hover {
        color: #fff;
        padding-left: 1.6875em;
        background: #a22;
        border-left: none;
        -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
        -moz-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
        box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1); }
        .hamburger-checkbox:checked ~ nav[role="off-canvas"] ul > li a:hover:after {
          right: .6em; }
      .hamburger-checkbox:checked ~ nav[role="off-canvas"] ul > li a:after {
        position: absolute;
        text-align: center;
        right: .6818181818em;
        width: 1em;
        height: 1em;
        -webkit-border-radius: 11px;
        border-radius: 11px;
        -webkit-background-clip: padding-box;
        -moz-background-clip: padding;
        background-clip: padding-box;
        content: "\203A";
        font-size: 1.375em;
        line-height: .9090909091em;
        color: inherit; }

  .hamburger-checkbox:checked ~ .condiments,
  .hamburger-checkbox:checked ~ h1 {
    margin-left: 20.5em;
    margin-right: -20.5em; }

  .hamburger-checkbox:checked ~ footer,
  .hamburger-checkbox:checked ~ .colophon {
    margin-left: 20em;
    margin-right: -20em; } }
.row {
  outline: 4px solid rgba(0, 0, 255, 0.25) !important;
  background-color: rgba(0, 0, 255, 0.15) !important; }

[class*="span"] {
  outline: 4px solid rgba(255, 0, 0, 0.25) !important;
  background-color: rgba(255, 0, 0, 0.15) !important; }

html {
  background: #f5f7f7; }

.display {
  padding: 1.875em; }

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

.assistive-text {
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important; }

.alignleft {
  display: inline;
  float: left;
  margin-right: 2em; }

.alignright {
  display: inline;
  float: right;
  margin-left: 2em; }

.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto; }

.textcenter {
  text-align: center; }

.view {
  display: block; }

.secrets {
  display: none; }

.show + .secrets {
  display: block; }

.secrets .view,
.secrets .secrets {
  margin-left: 1.25em; }

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
