// ==========================================================================
// Global variables
// Use when creating a variable used through multiple sheets
// ==========================================================================

// ==========================================================================
// Colors
// ==========================================================================

//Example: $white: #fff; 

// ==========================================================================
// Typography
// ==========================================================================

$normal: normal; // Change these values when using custom fonts
$bold: bold;

$monospace: 'courier new', monospace;
$serif: Georgia, "Times New Roman", Times, serif;
$sans: Helvetica, Arial, sans-serif;
$symbol: Arial, sans-serif;